body {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

#navbar {
    background-color: #70BFBF;
    display: flex;
    flex-direction: column;
}

#logo-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    text-decoration: none;
    list-style: none;
}

#logo {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo span {
    display: block;
    font-size: 23px;
}

#lang {
    border: 1px solid black;
    border-radius: 30px;
    padding: 0 10px 0 10px;
}

#eng {
    margin: 5px 0 5px 0;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
}

/* nav 2  */

#nav2 {
    background-color: #134141;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    padding: 20px;
}

#logo2 {
    font-weight: bold;
    text-decoration: none;
    color: #70BFBF;
    font-size: 20px;
}

/* menu  */

#menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.menu-item {
    border-left: 1px solid white;
    padding: 5px 10px 5px 10px;
    color: white;
}

#btn {
    color: white;
    margin: 0 5px 0 5px;
    background-color: #5EB4C7;
    box-shadow: none;
    border-radius: 30px;
    padding: 10px;
}

/* nav bar end  */

/* hero section  */

#hero {
    margin: 20px;
}

#hero>h1 {
    margin: 0px;
    text-align: center;

}

#hero-search {
    border: 1px solid blue;
    border-radius: 40px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hero-job-search {
    display: grid;
    column-gap: 50px;
    row-gap: 20px;
    grid-template-columns: auto auto;
}

#hero-job-search input {
    border: none;
}

#hero-job-search-btn {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.search-btn {
    margin: 0 15px 0 15px;
    background: none;
    border: none;
}

/* sort  */
#sort {
    background: #bdb6b65e;
    border-radius: 40px;
    padding: 10px;
    margin: 10px 0 10px 0;
    width: fit-content;
    font-size: 15px;
}

/* hero-category  */

#hero-category {
    border: 1px solid black;
    width: fit-content;
    border-radius: 40px;
    padding: 5px;
    margin: 10px 0 10px 0;
    font-size: 15px;
}

#hero-category a {
    text-decoration: none;
    color: #0C0B0B;
    margin-left: 10px;
    margin-right: 5px;
}

#hero-end {
    background-color: #5EB4C7;
    margin: 10px 0 10px 0;
    text-align: center;
    padding: 10px;
}

/* hero section end  */

/* 2nd section start  */

#second-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px 10px 50px;
}

.second-section-details img {
    width: 40%;
    padding: 10px;
}

.second-section-details {
    display: flex;
}

.second-section-item {
    padding: 10px;
}

/* resources section  */

#resources-section {
    background-color: #70BFBF;
    border-radius: 20px 20px 0 0;
    padding: 20px;
    padding-bottom: 60px;
}

#resources-section h2 {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
}

#resources-section-details {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 30px;
}

.resources-section-items {
    background-color: #F7FBF7;
    padding: 30px 20px;
    text-align: center;
    border-radius: 30px;
}

/* Stand out in the job market */
#job-market-section {
    background-color: #FFFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px 50px 20px 50px;
}

#job-market-section a {
    text-decoration: none;
    color: white;
    background-color: #70BFBF;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

#job-market-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#job-market-button {
    display: flex;
    flex-direction: column;
}

#job-market-items {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly
}

/* What's new on Job Bank  */
#job-bank-section {
    display: flex;
    background-color: #F2F2F2;
}

#job-bank-section-details {
    padding: 60px;
    width: 50%;
}

#job-bank-section-img {
    width: 50%;
    background-image: url(job-bank-section-img.jpg);
    background-position: right;
    opacity: 0.8;
}

#job-bank-section-details a {
    text-decoration: none;
    color: white;
    background-color: #70BFBF;
    padding: 10px;
    border-radius: 20px;
}

/* Job Bank By The Numbers */

#job-number-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px;
}

#job-number-section>h2 {
    color: #13d6d6;
    font-size: 30px;
}

#job-number-details {
    display: flex;
}

#job-number-section a {
    text-decoration: none;
    color: white;
    background-color: #13d6d6;
    margin-top: 20px;
    padding: 20px;
    border-radius: 30px;
}

.counter-group {
    background-color: #13d6d6;
    border-radius: 30px;
    padding: 15px;
    margin-inline: 30px;
    width: 220px;
    height: 150px;
}

.arrow-div {
    display: flex;
}

.arrow-div h2 {
    margin-left: 20px;
    color: black;
}